#play {
  background-color: papayawhip;

  #play-menu {
    width: 50%;
    text-align: right;
    margin-left: auto;
  }

  .fun-bar {
    margin-left: auto;
    width: 50%;
    height: 1em;
    border: 1px solid black;
  }
  #pet-fun {
    background-color: green;
    height: 100%;
  }
  .buttons {
    text-align: right;
  }
}