#sleep {
  background-color: lavender;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;

  #sleep-menu {
    text-align: right;
  }

  .energy-bar {
    margin-left: auto;
    width: 50%;
    height: 1em;
    border: 1px solid black;
  }
  #pet-energy {
    background-color: green;
    height: 100%;
  }
  .buttons {
    text-align: right;
  }
}